@charset "UTF-8";
/*
  900-1200 - tablet landscape
[1200-1800] Normal Styles apply

*$breakpoint argument choices
- phone 600px
- tab-port 900px
- tab-land 1200px

1em = 16px
*/
/* Defines an animation called "moveInLeft" */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Defines an animation called "moveInRight" */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Defines an animation called "moveInBottom" */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes rotate {
  to {
    transform: rotate(360deg); } }

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 20px 0px #8f78fd; }
  50% {
    box-shadow: 0px 0px 20px 0px rgba(143, 120, 253, 0.75); }
  70% {
    box-shadow: 0px 0px 20px 0px rgba(143, 120, 253, 0.75); }
  100% {
    box-shadow: 0px 0px 20px 0px #8f78fd; } }

/* *-selector individually selects all elements blocking parent/child inheritance vs html/body which considers inheritence */
*,
*::after,
*::before {
  /* Gets rid of all broser default margins/paddings/borders to build from scratch */
  margin: 0;
  padding: 0;
  /*Forces box-sizing to be an inherited property, carrying over from parent element to child element*/
  box-sizing: inherit; }

html {
  /* Using 10px makes it easier to calculate later sizes using rem: 1rem=10px, 2rem= 20px, etc. */
  /* Default browser font-size is 16px, to get 10px: .625*16px=10px */
  /*  Defines what 1 rem is */
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }

body {
  /*A good practice to put in body, making it easier to use plug-ins, *-selector above makes sure this is inherited by all elements */
  /* border-box causes padding and border to be included in in total width/height of element for more inutuitive experience */
  box-sizing: border-box;
  background-color: #0a0a0a;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: inherit; }
  button:focus {
    outline: 0; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; }

.header__heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* Removes shakiness from animation */
  backface-visibility: hidden;
  margin-bottom: 6rem;
  min-width: 30rem; }
  .header__heading-primary--main {
    /* Changes span from in-line element, to block */
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 1rem;
    /*Calls the custom animation we made below @keyframes*/
    animation-name: moveInLeft;
    animation-duration: 1s;
    /*
    animation-timing-function: ease-out; changes speed of animation
    animation-iteration-count: 3; number of times animiation is run
    animation-delay: 3s; delays start time of animation
    */ }
  .header__heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
    animation-name: moveInRight;
    animation-duration: 1s; }

.heading-primary--main {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem; }
  @media (max-width: 37.5em) {
    .heading-primary--main {
      letter-spacing: 0.25rem;
      font-size: 3.5rem; } }

.heading-primary--sub {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem; }

.timeline__bullet--date {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.25rem; }
  @media (max-width: 56.25em) {
    .timeline__bullet--date {
      letter-spacing: 0.2rem;
      font-size: 2.9rem; } }

.timeline__bullet--heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.25rem; }
  @media (max-width: 56.25em) {
    .timeline__bullet--heading {
      letter-spacing: 0.2rem;
      font-size: 2.9rem; } }
  @media (max-width: 37.5em) {
    .timeline__bullet--heading {
      letter-spacing: 0.1rem;
      font-size: 2.5rem; } }

.timeline__paragraph {
  color: gainsboro;
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.5; }

.timeline__list {
  color: #fff;
  display: block;
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.2; }
  @media (max-width: 37.5em) {
    .timeline__list {
      font-size: 1.8rem;
      line-height: 1.2; } }

.emdash {
  color: #aa99ff; }

.flip-card__heading {
  color: #fff; }
  .flip-card__heading--main {
    font-size: 3rem;
    letter-spacing: 0.1rem; }
  .flip-card__heading--sub {
    font-size: 2rem; }
  .flip-card__heading--mobile {
    font-size: 1.75rem; }

.flip-card__back {
  color: white; }

.flip-card__details ul {
  list-style: none; }
  .flip-card__details ul li {
    text-align: center;
    font-size: 2rem;
    line-height: 1.2; }

.skills__list {
  color: #fff;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem; }

.footer__links {
  text-align: center; }

ion-icon {
  color: #fff;
  font-size: 40px; }
  @media (max-width: 37.5em) {
    ion-icon {
      font-size: 32px; } }

.btn {
  /*Pseudo states to style button/link properties */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3.5rem;
    /*Always use when giving padding/height to elements so will not overlap other elements */
    display: inline-block;
    border-radius: 10rem;
    /* Transition should be on initital state of button and will be applied to all pseudo classes*/
    transition: all 0.2s;
    /*To provide reference for btn::after (absolute)*/
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(10, 10, 10, 0.2);
    /*After pseudo element -only- when we have the hoverstate */ }
    .btn:hover::after {
      /*Scale increases the size of the element */
      transform: scaleX(1.4) scaleY(1.6);
      /* Fades the animation out */
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(10, 10, 10, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    /* Pesudo element is treated as child of element, so % relative to original element size*/
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /*To put this effect behind the btn */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    /*applies animation starting conditions*/
    animation-fill-mode: backwards; }
  .btn--card {
    position: absolute;
    top: 83%; }

.line-break {
  margin: 1rem auto;
  background-color: #8f78fd;
  border: none;
  height: 2px;
  width: 25rem; }

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin: 2rem 2rem 4rem;
  /* Aligns front and back sides */
  /* Horizontal flip on mouse hover */ }
  .flip-card__align-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d; }
  .flip-card__link {
    color: inherit; }
  .flip-card:hover .flip-card__align-container {
    transform: rotateY(180deg); }
    @media (max-width: 75em) {
      .flip-card:hover .flip-card__align-container {
        transform: none; } }
  .flip-card__front, .flip-card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px #8f78fd;
    animation: pulse 2s infinite; }
  .flip-card__heading {
    position: absolute;
    width: 100%;
    border-top: 1px solid #8f78fd;
    border-bottom: 1px solid #8f78fd;
    background: rgba(27, 19, 53, 0.5); }
    .flip-card__heading--main {
      top: 260px; }
    .flip-card__heading--sub {
      top: 320px; }
    .flip-card__heading--mobile {
      display: none; }
    @media (max-width: 75em) {
      .flip-card__heading--main {
        top: 240px; }
      .flip-card__heading--sub {
        top: 303px; }
      .flip-card__heading--mobile {
        display: block;
        top: 348px; } }
  .flip-card__front {
    background-color: #4d4258; }
    .flip-card__front--portfolio {
      background-image: url(../img/portfolio-card.png), url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aa99ff' fill-opacity='0.09' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat, repeat; }
    .flip-card__front--mane-quiz {
      background-image: url(../img/mane-quiz-card.png), url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aa99ff' fill-opacity='0.09' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat, repeat; }
  .flip-card__back {
    background-color: #4d4258;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aa99ff' fill-opacity='0.09' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    transform: rotateY(180deg); }
  .flip-card__details {
    padding: 1rem;
    position: absolute;
    margin-top: 2rem; }
    .flip-card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      background: rgba(27, 19, 53, 0.5);
      border-radius: 25px;
      border: 1px solid #8f78fd; }
      .flip-card__details ul li {
        padding: 1rem; }
        .flip-card__details ul li:not(:last-child) {
          border-bottom: 1px solid #8f78fd; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(86, 77, 112, 0.5), rgba(77, 66, 88, 0.25)), url(../img/Acatenango-large.jpg);
  /*Background fills the page */
  background-size: cover;
  /*When re-sizing image, trims from this direction */
  background-position: top;
  /* Parent element to "logo-box/logo" classes, relative creates reference/origin for positioning */
  position: relative;
  /*Trims/shapes/crops image: Use "Clippy" tool to play with this feature*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  margin-bottom: 3rem; }
  @media (max-width: 75em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(86, 77, 112, 0.5), rgba(77, 66, 88, 0.25)), url(../img/Acatenango-small.jpg); } }
  .header__logo-box {
    position: fixed;
    top: 4rem;
    left: 4rem;
    animation: rotate .1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -.1s); }
  .header__logo {
    height: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /*Centers the box, makes top/left positioning go from center rather than edge*/
    transform: translate(-50%, -50%);
    /*This is actually important to center the button within this text box*/
    text-align: center; }

.timeline__line--tip {
  width: 0.2rem;
  height: 6rem;
  background-image: linear-gradient(#0a0a0a, #8d35ff);
  margin-left: 19.5%;
  transform: translate(-50%);
  box-shadow: 0 0 2em 0.025em #8d35ff; }
  @media (max-width: 75em) {
    .timeline__line--tip {
      margin-left: 19.5%; } }
  @media (max-width: 56.25em) {
    .timeline__line--tip {
      margin-left: 27.5%; } }
  @media (max-width: 37.5em) {
    .timeline__line--tip {
      margin-left: 1.1rem; } }

.timeline__line--main {
  width: 0.2rem;
  height: 100%;
  background-color: #8d35ff;
  position: absolute;
  margin-left: 19.5%;
  transform: translate(-50%);
  box-shadow: 0 0 0.75em 0.05em #8d35ff; }
  @media (max-width: 75em) {
    .timeline__line--main {
      margin-left: 19.5%; } }
  @media (max-width: 56.25em) {
    .timeline__line--main {
      margin-left: 27.5%; } }
  @media (max-width: 37.5em) {
    .timeline__line--main {
      margin-left: 1.1rem; } }

.timeline__line--tail {
  width: 0.2rem;
  height: 3rem;
  background-image: linear-gradient(#8d35ff, #0a0a0a);
  margin-left: 19.5%;
  transform: translate(-50%);
  margin-bottom: 3rem;
  box-shadow: 0 0 2em 0.05em #8d35ff; }
  @media (max-width: 75em) {
    .timeline__line--tail {
      margin-left: 19.5%; } }
  @media (max-width: 56.25em) {
    .timeline__line--tail {
      margin-left: 27.5%; } }
  @media (max-width: 37.5em) {
    .timeline__line--tail {
      margin-left: 1.1rem; } }

.timeline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: relative; }
  .timeline__bullet {
    display: flex;
    align-items: center;
    transition: all 0.5s;
    transform: translateX(-24.5rem);
    height: 3rem; }
    @media (max-width: 37.5em) {
      .timeline__bullet {
        transform: translateX(0);
        height: auto;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #1b1335 20%, #1b1335 80%, rgba(0, 0, 0, 0) 100%); } }
    .timeline__bullet:focus, .timeline__bullet:hover {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #1b1335 50%, #1b1335 80%, rgba(0, 0, 0, 0) 100%);
      cursor: pointer; }
      @media (max-width: 37.5em) {
        .timeline__bullet:focus, .timeline__bullet:hover {
          background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #1b1335 20%, #1b1335 80%, rgba(0, 0, 0, 0) 100%); } }
    .timeline__bullet--date {
      text-align: right;
      width: 22rem;
      margin-left: 19.5%;
      flex-shrink: 0; }
      @media (max-width: 75em) {
        .timeline__bullet--date {
          margin-left: 19.5%; } }
      @media (max-width: 56.25em) {
        .timeline__bullet--date {
          margin-left: 27.5%; } }
      @media (max-width: 37.5em) {
        .timeline__bullet--date {
          display: none; } }
    .timeline__bullet--point {
      height: 3rem;
      width: 3rem;
      border: 0.2rem solid #8d35ff;
      border-radius: 50%;
      background-color: #0a0a0a;
      box-shadow: 0 0 0.75em 0.05em #8d35ff;
      margin: 0 1rem;
      position: relative;
      flex-shrink: 0;
      transform-style: preserve-3d;
      transition: all 0.2s;
      z-index: 1; }
      @media (max-width: 37.5em) {
        .timeline__bullet--point {
          height: 1.5rem;
          width: 1.5rem;
          margin: 0 0.5rem 0 0.35rem; } }
      .timeline__bullet--point:hover {
        margin-right: 2rem;
        /*After pseudo element -only- when we have the hoverstate */ }
        .timeline__bullet--point:hover::after {
          /*Scale increases the size of the element */
          transform: scaleX(4) scaleY(4);
          /* Fades the animation out */
          opacity: 0; }
      .timeline__bullet--point::after {
        content: "";
        /* Pesudo element is treated as child of element, so % relative to original element size*/
        height: 100%;
        width: 100%;
        background-color: #8d35ff;
        border-radius: 50%;
        /*To put this effect behind */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translateZ(-1px);
        transition: all 0.4s; }
    .timeline__bullet--heading {
      flex-shrink: 0; }
  .timeline__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .timeline__paragraph {
    margin-left: 19.5%;
    padding-top: 1rem;
    padding-left: 3rem;
    max-width: 130rem; }
    @media (max-width: 75em) {
      .timeline__paragraph {
        margin-left: 19.5%; } }
    @media (max-width: 56.25em) {
      .timeline__paragraph {
        margin-left: 27.5%; } }
    @media (max-width: 37.5em) {
      .timeline__paragraph {
        margin-left: 1.1rem; } }
  .timeline__subheading {
    margin: auto;
    width: 75vw; }
  .timeline__list {
    display: flex;
    align-items: center;
    transform: translateX(-8.5rem);
    margin-bottom: 2rem; }
    @media (max-width: 37.5em) {
      .timeline__list {
        transform: translateX(0); } }
    .timeline__list--date {
      text-align: right;
      width: 7rem;
      margin-left: 19.5%;
      flex-shrink: 0; }
      @media (max-width: 75em) {
        .timeline__list--date {
          margin-left: 19.5%; } }
      @media (max-width: 56.25em) {
        .timeline__list--date {
          margin-left: 27.5%; } }
      @media (max-width: 37.5em) {
        .timeline__list--date {
          order: 2;
          margin-left: 0;
          margin-right: 1rem; }
          .timeline__list--date:after {
            content: "<";
            margin-left: 0.5rem;
            color: #aa99ff; } }
    .timeline__list--point {
      flex-shrink: 0;
      height: 1rem;
      width: 1rem;
      background-color: #8d35ff;
      border-radius: 50%;
      position: relative;
      margin: 0 1rem; }
      @media (max-width: 37.5em) {
        .timeline__list--point {
          order: 1;
          margin-left: 0.6rem; } }
    .timeline__list--text {
      display: block;
      border-bottom: 1px solid #aa99ff;
      margin-right: 1rem; }
      @media (max-width: 37.5em) {
        .timeline__list--text {
          order: 3; } }

.container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 1rem 0; }
  .container__inner {
    margin: 1rem 0; }

.collapsible:after {
  font-family: FontAwesome;
  content: "\f078";
  color: #8d35ff;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 5px; }
  @media (max-width: 37.5em) {
    .collapsible:after {
      font-size: 1.5rem; } }

.active:after {
  font-family: FontAwesome;
  content: "\f077";
  color: #8d35ff; }

.skills {
  margin: 5rem auto;
  max-width: 95rem; }
  .skills__section-container {
    background-color: #4d4258;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aa99ff' fill-opacity='0.09' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    padding: 1rem 1rem 3rem;
    margin: 2rem;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px #8f78fd; }
  .skills__subheading {
    margin: auto;
    width: 70rem; }
  .skills__list-container {
    display: flex;
    justify-content: center;
    text-align: center; }
  .skills__list {
    list-style-type: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center; }
    .skills__list--item + .skills__list--item:before {
      color: #aa99ff;
      content: " ∙";
      margin: 0 0.5rem; }

.footer {
  padding: 3rem;
  background: linear-gradient(135deg, #8f78fd 25%, transparent 25%) -10px 0, linear-gradient(225deg, #8f78fd 25%, transparent 25%) -10px 0, linear-gradient(315deg, #4d4258 25%, transparent 25%), linear-gradient(45deg, #564d70 25%, transparent 25%);
  background-color: #4d4258; }
  .footer__mainheading {
    margin-top: 6rem; }
  .footer__subheading {
    margin: auto;
    width: 30vw; }
    @media (max-width: 37.5em) {
      .footer__subheading {
        width: 60vw; } }
  .footer__links {
    margin: 2rem auto; }
    .footer__links--contact {
      margin: 1rem;
      padding: .2rem; }
      .footer__links--contact:hover {
        border-bottom: 4px solid #8f78fd; }

.projects__flip-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
