$color-primary: #8d35ff;
// $color-primary-dark-1: #4d4258;
// $color-primary-dark: #3c3552;

$color-primary-light: #8f78fd;
// $color-primary-dark: #6B4E90;

$color-primary-dark-1: #564d70;
$color-primary-dark-2: #4d4258;
$color-primary-dark-3: #1b1335;

$color-grey-dark: #777;
$color-grey-light: #C6CBC9;
$color-white: #fff;
$color-black: #000;

$margin-timeline: 20%;


// #90A2BD
// #101012
// #828E96
// #A5B9D0
// #483C2E
// #E4E9DD
// #BCD3E6
// #A6ACAF
// #6D7070
// #C6CBC9
