.footer {
  padding: 3rem;

  background:
  linear-gradient(135deg, $color-primary-light 25%, transparent 25%) -10px 0,
  linear-gradient(225deg, $color-primary-light 25%, transparent 25%) -10px 0,
  linear-gradient(315deg, $color-primary-dark-2 25%, transparent 25%),
  linear-gradient(45deg, $color-primary-dark-1 25%, transparent 25%);
// background-size: 100px 100px;
background-color: $color-primary-dark-2;


//   background: linear-gradient(
//     0deg,
//     $color-black 0%,
//     $color-primary-dark-1 10%,
//     $color-primary-dark-1 90%,
//     $color-black 100%
//   );



  &__heading {
    // display: flex;
    // flex-wrap: wrap;

    &--main {
      margin: auto;
    }

    &--line {
        margin: auto;

       background-color: $color-primary-light;
        border: none;
        height: 2px;
        width: 20vw;
    }

    &--sub {
      margin: 1rem auto;
      width: 30vw;
    }
  }

  &__links {
    margin: 2rem auto;

    &--contact {
      margin: 1rem;
      padding: 2px;

      &:hover {
        border-bottom: 4px solid $color-primary-light;
      }
    }
  }
}
