.footer {
  padding: 3rem;

  background:
  linear-gradient(135deg, $color-primary-light 25%, transparent 25%) -10px 0,
  linear-gradient(225deg, $color-primary-light 25%, transparent 25%) -10px 0,
  linear-gradient(315deg, $color-primary-dark-2 25%, transparent 25%),
  linear-gradient(45deg, $color-primary-dark-1 25%, transparent 25%);
// background-size: 100px 100px;
background-color: $color-primary-dark-2;
    &__mainheading {
      margin-top: 6rem;
    }

    &__subheading {
      margin: auto;
      width: 30vw;

      @include respond(phone) {
        width: 60vw;
      }
    }

  &__links {
    margin: 2rem auto;

    &--contact {
      margin: 1rem;
      padding: .2rem;

      &:hover {
        border-bottom: 4px solid $color-primary-light;
      }
    }
  }
}
