.skills {
  margin: 5rem auto;
  // max-width: 95rem;

  &__section-container {
    // background-color: $color-primary-dark-2;
    // background-image: $background-texture-3;
    // background-image: linear-gradient(rgba($color-primary-dark-2, .95),
    //     rgba($color-primary-dark-2, .95)),
    //   url(../img/topography7.png);

    background-image: linear-gradient(180deg, rgba($color-black, .95) 0%, 
    rgba($color-primary-dark-2, .95) 5%,
     rgba($color-primary-dark-2, .95) 95%, 
     rgba($color-black, .95) 100%),
      url(../img/topography7.png);

    padding: 3rem 1rem 4rem;
    // border-top: 2px solid $color-primary-light;
    // border-bottom: 2px solid $color-primary-light;

    // border-radius: 25px;
    // box-shadow: 0px 0px 20px 0px $color-primary-light;
  }


  &__list-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__list {
    list-style-type: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    max-width: 95rem;

    &--item {
      &+&:before {
        color: $color-primary-light-2;
        content: " ∙";
        margin: 0 0.5rem;
      }
    }
  }
}