.timeline__line {
  &--tip {
    width: 0.2rem;
    height: 6rem;
    background-image: linear-gradient($color-black, $color-primary);
    margin-left: $margin-timeline;
    transform: translate(-50%);
  }

  &--main {
    width: 0.2rem;
    height: 100%;
    background-color: $color-primary;
    // top: 0;
    // left: 0;
    position: absolute;
    margin-left: $margin-timeline;
    transform: translate(-50%);
  }

  &--tail {
    width: 0.2rem;
    height: 3rem;
    background-image: linear-gradient($color-primary, $color-black);
    margin-left: $margin-timeline;
    transform: translate(-50%);
    margin-bottom: 3rem;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  &__bullet {
    display: flex;
    align-items: center;
    transition: all 0.5s;
    transform: translateX(-$bullet-transform--main);
    height: $bullet-point-size--main;

    &:focus,
    &:hover {
      background: linear-gradient(
        90deg,
        $color-black 0%,
        $color-primary-dark-3 20%,
        $color-primary-dark-3 50%,
        $color-black 100%
      );
      outline: 0;
    }

    &--date {
      text-align: right;
      width: $bullet-date-width--main;
      margin-left: $margin-timeline;
      flex-shrink: 0;
    }

    &--point {
      height: $bullet-point-size--main;
      width: $bullet-point-size--main;
      border: 0.2rem solid $color-primary;
      border-radius: 50%;
      background-color: $color-black;
      margin: 0 $bullet-point-margin--main;
      position: relative;
      flex-shrink: 0;

      transform-style: preserve-3d;
      transition: all 0.2s;
      z-index: 1;


      &:hover {
        margin-right: 1rem;

        /*After pseudo element -only- when we have the hoverstate */
        &::after {
          /*Scale increases the size of the element */
          transform: scaleX(4) scaleY(4);

          /* Fades the animation out */
          opacity: 0;
        }
      }

      &::after {
        content: "";
        /* Pesudo element is treated as child of element, so % relative to original element size*/
        height: 100%;
        width: 100%;
        background-color: $color-primary;
        border-radius: 50%;

        /*To put this effect behind */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translateZ(
          -1px
        ); //This is needed in tandem with transform-style: preserve-3d;
        transition: all 0.4s;
      }
    }

    &--heading {
      
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  &__paragraph {
    margin-left: $margin-timeline;
    padding-top: 1rem;
    padding-left: 3rem;
  }

  &__list {
    display: flex;
    align-items: center;
    transform: translateX(-$bullet-transform--sub);


    &--date {
      text-align: right;
      width: $bullet-date-width--sub;
      margin-left: $margin-timeline;
      flex-shrink: 0;
    }

    &--point {
      flex-shrink: 0;
      height: $bullet-point-size--sub;
      width: $bullet-point-size--sub;
      background-color: $color-primary;
      border-radius: 50%;
      position: relative;
      margin: 0 $bullet-point-margin--sub;
    }

    &--text {
      display: block;
    }
  }
}



.container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 1rem 0;
  //   background: linear-gradient(
  //     90deg,
  //     $color-black 10%,
  //     $color-primary-dark-2 20%,
  //     $color-primary-dark-2 50%,
  //     $color-black 70%
  //   );
  &__inner {
    margin: 1rem 0;
  }
}

////This will be for mobile users ONLY////@at-root
.collapsible:after {
  font-family: FontAwesome;
  content: "\f078";
  color: $color-primary;
  font-weight: bold;
  font-size: 2rem;
  //   float: right;
  margin-left: 5px;
}

.active:after {
  font-family: FontAwesome;
  content: "\f077";
  color: $color-primary;
}
