.timeline__line {
    &--tip {
        width: 0.2rem;
        height: 6rem;
        background-image: linear-gradient($color-black, $color-primary);
        margin-left: $margin-timeline;
        transform: translate(-50%);
      }

  &--main {
    width: 0.2rem;
    height: 100%;
    background-color: $color-primary;
    // top: 0;
    // left: 0;
    position: absolute;
    margin-left: $margin-timeline;
    transform: translate(-50%);
  }

  &--tail {
    width: 0.2rem;
    height: 3rem;
    background-image: linear-gradient($color-primary, $color-black);
    margin-left: $margin-timeline;
    transform: translate(-50%);
    margin-bottom: 3rem;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;


  &__bullet {
    display: flex;
    align-items: center;
    transition: all 0.5s;

    &:focus,
    &:hover {
      background: linear-gradient(
        90deg,
        $color-black 0%,
        $color-primary-dark-3 20%,
        $color-primary-dark-3 50%,
        $color-black 100%
      );

      outline: 0;
    }

    &--date {
        position: absolute;
        right: 0;
        margin-right: 101.5%-$margin-timeline;
    }

    &--point {
      height: 3rem;
      width: 3rem;
      border: 0.2rem solid $color-primary;
      background-color: $color-black;
      margin-left: $margin-timeline;
    transform: translate(-50%);
      transform-style: preserve-3d;
      border-radius: 50%;
      transition: all 0.2s;
      position: relative;
      z-index: 1;
      flex-shrink: 0;

      &:hover {
        margin-right: 1rem;

        /*After pseudo element -only- when we have the hoverstate */
        &::after {
          /*Scale increases the size of the element */
          transform: scaleX(4) scaleY(4);

          /* Fades the animation out */
          opacity: 0;
        }
      }

      &::after {
        content: "";
        /* Pesudo element is treated as child of element, so % relative to original element size*/
        height: 100%;
        width: 100%;
        background-color: $color-primary;
        border-radius: 50%;

        /*To put this effect behind the btn */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translateZ(
          -1px
        ); //This is needed in tandem with transform-style: preserve-3d;
        transition: all 0.4s;
      }
    }

    &--heading {
    line-height: 0;
    // display: block;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__paragraph {
    margin-left: $margin-timeline;
    padding-top: 1rem;
    padding-left: 3rem;
  }

  &__list {
    margin-left: 0;
    display: flex;
    align-items: flex-start;

    &--point {
        flex-shrink: 0;
      height: 1rem;
      width: 1rem;
      background-color: $color-primary;
      margin-left: $margin-timeline;
      transform: translate(-50%, 127%);
      border-radius: 50%;
      position: relative;
    }

    &--text {
      display: block;
      padding-left: 1.5rem;
    }
  }
}

.container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 1rem 0;
//   background: linear-gradient(
//     90deg,
//     $color-black 10%,
//     $color-primary-dark-2 20%,
//     $color-primary-dark-2 50%,
//     $color-black 70%
//   );
    &__inner {
        margin: 1rem 0;
    }

}

////This will be for mobile users ONLY////@at-root
.collapsible:after {
  font-family: FontAwesome;
  content: "\f078";
  color: $color-primary;
  font-weight: bold;
  font-size: 2rem;
//   float: right;
  margin-left: 5px;
}

.active:after {
  font-family: FontAwesome;
  content: "\f077";
  color: $color-primary;
}
